{% extends 'base.html.twig' %}

{% block title %}HasArtist index{% endblock %}

{% block body %}
    <h1>HasArtist index</h1>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <table class="table">
        <thead class="table table-sm table-striped table-dark table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Is_Actor</th>
                <th>Is_Director</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for has_artist in has_artists %}
            <tr>
                <td>{{ has_artist.id }}</td>
                <td>{{ has_artist.isActor ? 'Yes' : 'No' }}</td>
                <td>{{ has_artist.isDirector ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('has_artist_show', {'id': has_artist.id}) }}">show</a>
                    <a href="{{ path('has_artist_edit', {'id': has_artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('has_artist_new') }}">Create new</a>
{% endblock %}
